/* CSS Variables */

:root {
  --primary-color: #5e52ba;
  --secondary-color: #0dcaf0;
  --red-color: #f06647;
  --dark-color: #333;
  --light-color: #fff;
  --search-bg-color: #7f73eb;
  --bg-color: #f0f8ff;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'League Spartan', sans-serif;
  line-height: 1.7;
  background-color: var(--light-color);
  color: var(--dark-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 0.55rem;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* Utilities */

.current {
  color: var(--red-color);
}

.current-bg {
  background-color: var(--red-color);
  color: var(--light-color);
  border-radius: 1000px;
}

.text-primary {
  color: var(--primary-color);
}

/* Buttons */

.btn {
  display: inline-block;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  background-color: var(--light-color);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.btn-transparent {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 1000px;
}

.btn-block {
  width: 100%;
  border-radius: 1000px;
  text-align: center;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 1.2rem;
}

.btn-text-white {
  color: #fff;
}

.btn-text-red {
  color: var(--red-color);
  border: 1px solid #ccc;
  padding: 6px 15px;
}

.btn-text-red:hover {
  background-color: var(--red-color);
  color: var(--light-color);
}

.btn-border-white,
.btn-border-grey {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 1000px;
  background: transparent;
}

.btn-border-grey {
  border: 1px solid #999;
  color: var(--red-color);
}

.btn-red {
  background-color: var(--red-color);
  color: var(--light-color);
}

/* Padding */

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

/* Background */

.bg-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-pale {
  background-color: #f0f8ff;
  color: var(--primary-color);
}

/* Section Header */

.section-header {
  text-align: center;
  padding: 10px 0 50px 0;
}

.section-header h2 {
  font-size: 50px;
}

.section-header p {
  color: #666;
  font-weight: 300;
  font-size: 1.2rem;
}

/* Keywords */

.keywords {
  padding: 10px;
  display: flex;
  align-items: center;
}

.keyword {
  border: 1px solid #fff;
  padding: 0.3rem 0.6rem;
  margin: 0 15px 0 5px;
  font-size: 12px;
  border-radius: 1000px;
}

/* Logo */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text > * {
  margin: 0;
  line-height: 1;
}

.logo-text h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

.logo-text p {
  font-size: 0.75rem;
  color: var(--red-color);
  text-transform: uppercase;
  font-weight: bold;
}

.logo_img {
  width: 65px;
  margin-right: 20px;
}

/* List */

.list h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.list li {
  font-size: 1.2rem;
  color: #666;
  font-weight: 100;
}

/* Navigation */

#main-nav {
  background-color: #fff;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  align-items: center;
  padding: 1rem;
}

#main-nav ul {
  justify-self: center;
  display: flex;
}

#main-nav ul li a,
#main-nav ul li {
  padding: 0.87rem;
  font-weight: 100;
  font-size: 1.2rem;
}

#main-nav ul li a:hover {
  color: var(--red-color);
}

#main-nav ul li {
  position: relative;
}

#main-nav ul li i {
  color: #666;
  font-size: 1rem;
}

#main-nav ul li ul {
  display: none;
}

#main-nav ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--light-color);
  z-index: 9999;
}

#main-nav ul li:hover ul li {
  display: block;
  background-color: #fff;
}

#main-nav ul li:hover ul li a {
  color: #333;
}

#main-nav ul li:hover ul li a:hover {
  color: var(--red-color);
}

/* Showcase */

#showcase {
  padding: 2rem;
  position: relative;
  height: 70vh;
  color: #fff;
  background-color: rgba(65, 20, 247, 0.774);
}

#showcase::before {
  content: '';
  background: url('../img/close-up-young-business-team-working.jpg') no-repeat
    top/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-container .showcase-content,
#showcase .showcase-container .showcase-search {
  z-index: 1;
}

#showcase .showcase-container .showcase-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#showcase .showcase-container .showcase-content h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 2rem;
}

#showcase .showcase-container .showcase-search {
  background-color: #7f73eb;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcase .showcase-container .showcase-search h2 {
  font-size: 2.3rem;
}

#showcase .showcase-container .showcase-search .search-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#showcase .showcase-container .showcase-search .search-buttons > div {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 0.5rem 1rem;
  margin: 10px 10px 20px 0;
  border-radius: 1000px;
  width: 100%;
  font-size: 1rem;
}

#showcase .showcase-container .showcase-search .search-buttons i {
  margin-right: 10px;
  color: #777;
}

#showcase .showcase-container .showcase-search .keyword {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.3rem 0.6rem;
  margin: 0 15px 0 5px;
  font-size: 12px;
  border-radius: 1000px;
}

/* Categories */

#categories h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 2rem;
}

#categories .categories-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
}

#categories .categories-container div {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 2.2rem;
  border-radius: 50%;
  text-align: center;
  margin: 0.5rem;
  width: 150px;
  height: 150px;
  border: 8px solid var(--search-bg-color);
  transition: all 0.5s;
  position: relative;
}

#categories .categories-container .number-block {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 100px;
}

#categories .categories-container div:hover {
  border-color: var(--light-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

#categories .categories-container div > h4 {
  font-size: 0.87rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

/* Intro */

.intro-container {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  gap: 0.5rem;
}

.intro-container img {
  object-fit: cover;
  height: 400px;
  width: 240px;
}

.intro-container .image-one {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.intro-container .image-two {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.int-text {
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 0.5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.int-buttons {
  display: flex;
  align-items: center;
}

.int-text .btn {
  margin-right: 20px;
}

.int-text h3 {
  font-size: 50px;
}

.int-text p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

/* Featured */

.featured-container .feature {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr 1fr;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}

.featured-container .feature:nth-of-type(even) {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding-bottom: 20px;
}

.featured-container .feature:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transition: all 0.5s ease;
}

.featured-container img {
  width: 50px;
  height: 50px;
  margin: 10px 15px 0 0;
}

.featured-container p {
  color: #666;
  font-weight: 300;
}

.featured-container i {
  color: var(--primary-color);
}

.featured-container .position {
  display: flex;
  align-items: center;
}

.featured-container .position div {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.featured-container .position h3 {
  margin-bottom: 0;
  font-size: 28px;
}

.featured-container .keywords {
  background: transparent;
}

.featured-container .keywords span {
  margin-right: 20px;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

/* Page Navigation */

#page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 50px;
}

#page-navigation > * {
  margin: 0 10px;
}

#page-navigation .page-nav__number {
  background: transparent;
  color: #666;
  border: 1px solid #ddd;
  padding: 9px 18px;
  border-radius: 50%;
  cursor: pointer;
}

#page-navigation .page-nav__number.selected {
  background: var(--secondary-color);
  color: var(--light-color);
}

#page-navigation .page-nav__number:hover {
  background: var(--secondary-color);
  color: var(--light-color);
  transition: all 0.5s ease;
}

#page-navigation p {
  color: #666;
  font-size: 14px;
}

/* Advice */

#advice .advice-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

#advice .advice-info .left-side {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}

#advice .advice-info .left-side h2 {
  font-size: 40px;
}

#advice .advice-info .left-side p {
  font-size: 20px;
  font-weight: 300;
}

#advice .advice-info .left-side .numbers {
  display: flex;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

#advice .advice-info .left-side .numbers .number h3 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 0.8;
}

#advice .advice-info .left-side .numbers .number p {
  color: var(--secondary-color);
  font-size: 1rem;
}

#advice .advice-info .right-side img {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
}

/* Recent Jobs */

#jobs {
  padding: 50px 30px;
}

#jobs .section-header {
  text-align: left;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 3rem;
  column-gap: 1rem;
}

.card {
  border: 1px solid #eee;
  border-radius: 10px;
  height: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175);
  transition: all 0.5s ease;
}

.card .company img {
  width: 30px;
}

.card .card-content {
  padding: 15px 20px;
}

.card-content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 6px;
  font-weight: 300;
  color: rgba(1, 56, 85, 0.765);
}

.card-content .row .company {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-content .row .icons i {
  margin-right: 5px;
}

.card-content h2 {
  font-size: 30px;
  color: var(--dark-color);
}

.card-content .btn {
  font-size: 14px;
  padding: 0.5rem 0.75rem;
}

.card-content hr {
  width: 90%;
  margin: auto;
  color: #eee;
  height: 1px;
  border: none;
  background-color: #eee;
}

#jobs .browse-btn {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}

#jobs .browse-btn .btn {
  font-size: 1.4rem;
  padding: 15px 40px;
  border-radius: 1000px;
}

/* Review */

#reviews {
  background-color: var(--bg-color);
  padding: 30px 50px;
}

#reviews .reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#reviews .reviews-container .review {
  padding: 50px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: var(--light-color);
}

#reviews .reviews-container .review img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgba(233, 231, 238, 0.855);
  margin-right: 10px;
}

#reviews .reviews-container .review .row,
#reviews .reviews-container .review .row > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#reviews .reviews-container .review h4 {
  font-size: 1.2rem;
  line-height: 0.8;
  margin-bottom: 0;
}

#reviews .reviews-container .review .row .review-text {
  font-size: 28px;
  font-weight: 700;
  color: #777;
  position: relative;
  margin-top: 0.75rem;
  line-height: 1.1;
}

#reviews .reviews-container .review .row .quote-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: -40px;
  opacity: 0.1;
}

#reviews .reviews-container .review .rating i {
  color: orangered;
  margin-right: 4px;
}

/* Jobs Ads */

#job-ads {
  position: relative;
  height: 40vh;
  background-color: var(--red-color);
  color: #fff;
  display: flex;
  align-items: center;
}

#job-ads::before {
  content: '';
  background: url('../img/millennial-group-young-businesspeople.jpg') no-repeat
    center top/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.12;
}

#job-ads .ads-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#job-ads .ads-container > * {
  z-index: 10;
}

#job-ads .ads-container .ad-content h2 {
  font-size: 3rem;
}

#job-ads .ads-container .ad-content p {
  font-size: 20px;
}

#job-ads .ads-container .int-buttons {
  justify-self: end;
}

#job-ads .ads-container .btn {
  margin-right: 20px;
}

/* About */

#about {
  padding: 2rem;
  position: relative;
  color: #fff;
  background-color: rgba(65, 20, 247, 0.774);
}

#about::before {
  content: '';
  background: url('../img/site-header/close-up-young-business-team-working.jpg')
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45vh;
}

#about .about-container > * {
  z-index: 10;
}

#about h1 {
  font-size: 4rem;
  letter-spacing: -1px;
}

#about .about-link {
  background-color: #fff;
  color: var(--dark-color);
  padding: 0.5rem 1.5rem;
  border-radius: 1000px;
}

#about a {
  color: var(--primary-color);
}

#about a:hover {
  color: var(--red-color);
}

/* About Info */

#about-info .about-info__container,
#contact-address .contact-address__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

#about-info .about-info__container .about-info__content,
#contact-address .contact-address__container .contact-info__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}

#about-info .about-info__container .about-info__content h2 {
  font-size: 2.5rem;
}

#about-info .about-info__container .about-info__content h3 {
  font-size: 2rem;
  font-weight: 300;
}

#about-info .about-info__container .about-info__content p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #666;
  margin-bottom: 1rem;
}

#about-info .about-info__container .about-info__image img,
#contact-address .contact-address__container .contact-info__image img {
  border-radius: 40px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 400px;
  padding: 1rem;
}

.contact-detail:nth-of-type(even) {
  background-color: var(--bg-color);
  border-radius: 1000px;
}

.contact-detail i {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.contact-detail h5 {
  color: var(--secondary-color);
}

.contact-detail p {
  color: #666;
  font-weight: 300;
  font-size: 1.2rem;
}

/* Contact Form */

.form-container {
  width: 80%;
  margin: 10px auto;
}

.form-container .row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 20px;
}

.form-container .row .form-control {
  flex-basis: 50%;
}

.form-container .row .form-control input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1.2rem;
  background-color: var(--bg-color);
  border-radius: 20px;
  text-indent: 5px;
}

.form-container .row .form-control input:hover {
  background-color: #fff;
  outline: 2px solid var(--primary-color);
}

.form-container textarea {
  width: 100%;
  background-color: var(--bg-color);
  border: none;
  outline: none;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  resize: none;
}

.form-container textarea:hover {
  background-color: #fff;
  outline: 2px solid var(--primary-color);
}

.form-container .contact-btn {
  display: block;
  width: 25%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 1.2rem;
  margin: 20px auto;
  font-size: 1rem;
  cursor: pointer;
}

.form-container .contact-btn:hover {
  background-color: var(--secondary-color);
}

.form-container label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-color);
}

/* Services */

#services h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.3rem;
  line-height: 1.9;
}

#services .services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

#services .services-container > div {
  border-radius: 30px;
  position: relative;
}

#services .services-container > div:nth-of-type(even) {
  background-color: var(--bg-color);
  padding: 2rem 0.5rem;
}

#services .services-container > div:nth-of-type(even) .overlay {
  background-color: #0dcaf0;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#services .services-container > div:hover {
  background-color: var(--bg-color);
  padding: 2rem 0.5rem;
}

#services .services-container i {
  font-size: 4rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  margin-top: 2rem;
}

#services .services-container h4 {
  font-size: 1.6rem;
  margin-top: 20px;
}

#services .services-container p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #666;
  margin-bottom: 1rem;
}

/* Search */

#search-block .search-container {
  background-color: var(--search-bg-color);
  min-height: 400px;
  padding: 2rem;
  border-radius: 10px;
}

#search-block .search-container h2 {
  color: #fff;
  font-size: 2rem;
  line-height: 2;
}

#search-block .search-container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#search-block .search-container .row div {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 20px;
  text-indent: 10px;
  color: #666;
}

#search-block .search-container .btn {
  margin: 20px 0;
}

#search-block .search-container i {
  color: var(--primary-color);
  margin-right: 10px;
}

#search-block .search-container .keywords {
  color: var(--light-color);
}

#search-block .search-container .keywords .keyword {
  background-color: var(--light-color);
  color: var(--primary-color);
  padding: 6px 12px;
}

#jobs .section-listing,
#jobs .section-similar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#jobs .section-similar p {
  width: 500px;
  color: #666;
}

#jobs .section-listing h2,
#jobs .section-similar h2 {
  font-size: 2rem;
  color: #000;
}

#jobs .section-listing span {
  margin-right: 20px;
}

#jobs .section-listing span:first-child {
  color: #666;
  font-size: 1.2rem;
}

#jobs .section-listing i {
  margin-left: 5px;
  color: #666;
}

/* Job Details */

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature .keywords span {
  margin-right: 15px;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

hr {
  height: 1px;
  border: 1px solid #eee;
  margin: 15px 0;
}

.job-detail__container {
  display: grid;
  grid-template-columns: 6fr 3fr;
  align-items: center;
  gap: 1rem;
}

.job-detail {
  grid-row: 1 / span 2;
}

.job-detail h1 {
  font-size: 50px;
}

.job-detail .feature > * {
  color: #666;
}

.job-detail .feature i,
.company-detail i {
  color: var(--primary-color);
  margin-right: 5px;
}

.description {
  padding: 1rem 0 0.5rem 0;
}

.description div {
  margin-bottom: 20px;
  line-height: 1.6;
}

.description h2 {
  font-size: 30px;
}

.description h3,
.company-detail h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.description p,
.company-detail p {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  color: #666;
  margin-bottom: 6px;
}

.description ul {
  margin-left: 30px;
}

.description ul li {
  color: #666;
  font-weight: 100;
  font-size: 20px;
}

.bottom-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.bottom-icons p {
  color: #666;
}

.bottom-icons i {
  margin-right: 10px;
  color: var(--primary-color);
}

.company-detail {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  padding: 1.5rem;
  border-radius: 20px;
}

.company-detail div {
  margin-bottom: 20px;
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo .company-img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.company-logo img {
  width: 45px;
}

.company-logo i {
  margin-right: 10px;
}

.description ul {
  list-style-type: disc;
}

/* Footer */

#main-footer .footer-container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 5fr;
  align-items: start;
  gap: 1rem;
}

#main-footer .footer-container > *:not(:last-child) {
  max-width: 1100px;
  margin: 50px auto;
  overflow: hidden;
  padding: 0 50px;
}

#main-footer .footer-container > *:last-child {
  background-color: var(--primary-color);
  grid-column: 1 / span 4;
  padding: 0.5rem 0;
  font-size: 1rem;
}

#main-footer .footer-container .logo {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo .logo-flex {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.logo .logo-flex img {
  margin-right: 4px;
}

#main-footer .footer-container .logo .address-info p {
  color: #444;
  font-weight: 200;
  font-size: 1.2rem;
}

#main-footer .footer-container .logo .address-info i {
  color: var(--primary-color);
  margin-right: 8px;
}

#main-footer .footer-container .newsletter {
  font-size: 1.2rem;
  font-weight: 600;
}

#main-footer .footer-container .newsletter-form {
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 10px;
}

#main-footer .footer-container .newsletter .input-group {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 1000px;
  padding: 1rem 2.5rem;
  width: 100%;
}

#main-footer .footer-container .newsletter .newsletter-form .input-group input {
  outline: none;
  border: 2px solid transparent;
  padding: 0.2rem;
}

#main-footer .footer-container .newsletter .newsletter-form .input-group i {
  font-size: 14px;
  color: #666;
}

#main-footer
  .footer-container
  .newsletter
  .newsletter-form
  .input-group
  .icon
  i {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

#main-footer .footer-bottom .bottom-container {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

#main-footer .footer-bottom .bottom-container > *,
#main-footer .footer-bottom .bottom-container a,
#main-footer .footer-bottom .bottom-container i {
  color: #fff;
}

#main-footer .footer-bottom .bottom-container p {
  font-size: 14px;
}

#main-footer .footer-bottom .bottom-container ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

#main-footer .footer-bottom .bottom-container ul li {
  font-size: 14px;
}

#main-footer .footer-bottom .bottom-container .social i {
  background-color: var(--search-bg-color);
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 8px;
}

#main-footer .footer-bottom .bottom-container .up i {
  font-size: 1rem;
  border: 3px dotted #fff;
  padding: 8px 10px;
  border-radius: 50%;
}
