/* Navigation */

#main-nav ul {
  display: none;
}

/* Showcase */

#showcase .showcase-container {
  grid-template-columns: 1fr;
  gap: 2rem;
}

/* Categories */

#categories .categories-container {
  justify-content: center;
  gap: 2rem;
}

/* Intro */

.intro-container {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.intro-container img {
  width: 100%;
  height: 100%;
}

.intro-container .image-one {
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
}

.intro-container .image-two {
  border-top-right-radius: 0;
}

.int-text h3 {
  font-size: 27px;
}

.int-text p {
  font-size: 1rem;
}

.int-buttons,
.int-text .btn {
  font-size: 14px;
}

/* Featured */

.featured-container .feature {
  grid-template-columns: repeat(5, 1fr);
}

.featured-container .position h3 {
  font-size: 1.1rem;
}

/* Advice */

#advice .advice-info {
  grid-template-columns: 1fr;
  gap: 0;
}

#advice .advice-info .left-side {
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
}

/* Recent Jobs */

.cards-container {
  grid-template-columns: repeat(2, 1fr);
}

#jobs .browse-btn {
  justify-content: flex-start;
}

/* Review */

#reviews .reviews-container {
  grid-template-columns: 1fr;
}

/* Jobs Ads */

#job-ads .ads-container {
  grid-template-columns: 1fr;
  gap: 20px;
}

#job-ads .ads-container .ad-content h2 {
  font-size: 2rem;
}

#job-ads .ads-container .ad-content p {
  font-size: 1rem;
}

#job-ads .ads-container .int-buttons {
  justify-self: start;
}

#job-ads .ads-container .btn {
  font-size: 14px;
}

/* About */

#about-info .about-info__container,
#contact-address .contact-address__container {
  grid-template-columns: 1fr;
}

/* Services */

#services .services-container {
  grid-template-columns: repeat(2, 1fr);
}

#jobs .section-listing {
  display: block;
}

/* Job Detail */

.job-detail__container {
  grid-template-columns: 1fr;
}

/* Footer */

#main-footer .footer-container {
  grid-template-columns: 1fr;
}

.list h3 {
  font-size: 1.1rem;
}

.list li {
  font-size: 1rem;
}

#main-footer .footer-container > *:last-child {
  grid-column: 1;
  margin: 10px;
  padding: 10px;
}

#main-footer .footer-container > *:not(:last-child) {
  margin: 10px;
  padding: 0 10px;
}

#main-footer .footer-bottom .bottom-container {
  max-width: 800px;
  height: 100px;
  grid-template-columns: repeat(5, 1fr);
}

#main-footer .footer-bottom .bottom-container .social {
  display: flex;
  margin-right: 10px;
}
